<script crossorigin="anonymous" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Ec2MZbwa2nbZ02plhf3EBbW81q0Q+8uqaHRZ0D93saeekH5++8DFJ3he5dt6sCoG" src="https://lib.baomitu.com/layer/3.1.1/mobile/layer.js"></script>
<script src="https://github.com/ftlabs/fastclick/blob/master/lib/fastclick.js"></script>
<script src="xxx/js/bscroll.min.js"></script>
