<div class="nav-wrap">
  <div class="left">
    <div class="back-wrap">
      <i class="iconfont iconhtubiao_xiala"></i>
    </div>
  </div>
  <p class="title">
    logo标题
  </p>
  <div class="right">
    <div class="back-index-wrap">
      <a href="/">
        <p>返回首页</p>
      </a>
    </div>

    <div class="search-group">
      <a href="#">
        <i class="iconfont iconfangdajing"></i>
      </a>
      <div class="spre"></div>
      <a href="#"><i class="iconfont iconmore"></i></a>
    </div>
  </div>
</div>
